body {
    background-color: #C9D6DF;
    color: #1E2022;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 0 30px 0;
}

.required {
    color: red;
}

h1, p{
    text-align: center;
}

p {
    font-style: italic;
}

img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 5px;
}

legend {
    font-weight: bold;
}

h1{
    margin-top: 0;
}

main{
    width: 80%;
    margin: auto;
}

::placeholder {
    color: grey;
    opacity: 0.5;
}

.container {
    background-color: #F0F5F9;
    margin: auto;
    width: 60%;
    box-shadow: 0 0 20px 0 black;
    border-radius: 15px;
    text-align: left;
    padding: 30px;
    font-size: large;
}

fieldset {
    border: none;
    display: block;
    margin: 20px auto;
}

input, textarea ,select{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border:2px solid #52616B;
    min-height: 2em;
    font-size: 18px;
    color: #52616B;
}

select {
    width: 101%;
    min-height: 2em;
}

label {
    display: block;
}

.inline {
    width: unset;
    display: inline;
    vertical-align: middle;
}

button {
    display: block;
    margin: 0 auto;
}

.submit-button {
    width: 50%;
    height: 50px;
    border-radius: 50px;
    background-color: #1E2022;
    font-size: 20px;
    color: #F0F5F9;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #F0F5F9;
    color: #1E2022;
    border: 2px solid #1E2022;
}

